export(data.gen3d)
export(defuzzifier)
export(denorm.data)
export(ECM)
export(frbs.gen)
export(frbs.learn)
export(fuzzifier)
export(inference)
export(norm.data)
export(plotMF)
export(rulebase)
S3method(predict,frbs)
S3method(summary,frbs)
